@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.section-hero {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  color: #F9FAFB;
  background-color: #1F2937;
  padding-bottom: 90px ;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 70px;
}

.header-links {
  display: flex;
  gap: 10px;
}

.hero-container {
  display: flex;
  margin: 0;
}

.hero-text {
  margin: 0;
  flex: 1;
}

.hero-text p {
  margin: 0 0 12px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 48px;
}

a {
  text-decoration: none;
  color: #F9FAFB;
  font-size: 10px;
}

button {
  background-color:#3B82F6;
  color: #F9FAFB;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  padding: 8px 30px;

}

.hero-container img {
  width: 550px;
  margin-left: 40px;
  background-color: #6D747D ;
  text-align: center;
  flex: 1;
  line-height: 225px;
}


.section-information {
  display: flex;
  flex-direction: column;
  margin: 0 auto 100px;
  padding: 0 200px;
}

#information-text {
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 30px;
  color: #1F2937;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}

.card {
  text-align: center;
  width: 200px;
}
.image-container {
  width: 200px;
  height: 200px;
  border: #3B82F6 solid;
  border-radius: 10px;
  margin: auto; 
  margin-bottom: 10px;

}

.section-quote {
  display: flex;
  flex-direction: column;
  margin: 0 auto 100px;
  padding: 150px 320px;
  background-color: #E5E7EB;
}

.quote-text {
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
}

.quote-citation {
  font-weight: 600;
  font-size: 24px;
  color: #1f2937;
  text-align: end;
}

.section-call-to-action {
  display: flex;
  justify-content: space-between;
  margin: 100px 200px;
  background-color: #3B82F6;
  padding: 40px 120px ;
  border-radius: 16px;

}

.call-to-action-text-container {
  flex: 2;
  color: #F9FAF8;
}

.call-to-action-button-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.section-call-to-action button {
  border: 1px solid #F9FAF8; 
}

.call-to-action-main-text {
  font-size: 30px;
  margin: 0;
}

.call-to-action-secondary-text {
  margin:  0;
  font-weight: 100;
  color: #E5E7EB;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  margin: 0;
  padding: 30px 0 ;
}